In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import random
from scipy.stats import linregress
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [25]:
#set all columns to be displayed
pd.set_option('display.max_columns', None)

In [26]:
# Study data file 1
worldinternet_path = "data.csv"

In [27]:
worldinternet_results = pd.read_csv(worldinternet_path)

In [28]:
worldinternet_results.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Individuals using the Internet (% of population),IT.NET.USER.ZS,Afghanistan,AFG,0,..,5,5.454545455,5.9,7,8.26,..,..,..,..,..
1,Individuals using the Internet (% of population),IT.NET.USER.ZS,Albania,ALB,0,0.114097347,47,49.4,51.8,54.3,56.9,59.6,62.4,65.4,68.55039112,72.23767711
2,Individuals using the Internet (% of population),IT.NET.USER.ZS,Algeria,DZA,0,0.491705679,14.9,18.2,22.5,29.5,38.2,42.94552688,47.69105515,49.03846808,57.5,..
3,Individuals using the Internet (% of population),IT.NET.USER.ZS,American Samoa,ASM,0,..,..,..,..,..,..,..,..,..,..,..
4,Individuals using the Internet (% of population),IT.NET.USER.ZS,Andorra,AND,0,10.53883561,81,..,..,..,..,..,91.56746703,..,..,..

In [29]:
worldinternet_results.shape

(271, 16)

In [30]:
# Study data file 2
worldincome_path = "countries.csv"

In [31]:
worldincome_results = pd.read_csv(worldbank_path)

NameError: name 'worldbank_path' is not defined

In [ ]:
worldincome_results.head(30)

In [ ]:
worldincome_results.shape

In [ ]:
#merging the data sets 
world_overview = pd.merge(worldinternet_results, worldincome_results,how='left', left_on='Country Name', right_on='TableName')

In [ ]:
world_overview.shape

In [ ]:
world_overview.head()

In [10]:
#filtering the dataset to remove unwanted columns 
internet_df = world_overview.filter(['Country Name','Country Code','2011 [YR2011]','2012 [YR2012]','2013 [YR2013]','2014 [YR2014]','2015 [YR2015]','2016 [YR2016]','2017 [YR2017]','2018 [YR2018]','2019 [YR2019]','2020 [YR2020]','IncomeGroup'])

NameError: name 'world_overview' is not defined

In [11]:
internet_df.head(30)

NameError: name 'internet_df' is not defined

In [12]:
#reading in the population data and filtering
worldbank_pop = "pop.csv"
worldbank_population = pd.read_csv(worldbank_pop)
worldbank_population = worldbank_population.filter(['Country Name','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])
worldbank_population.head()

,Country Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [13]:
#merging the datasets
world_overview1 = pd.merge(internet_df, worldbank_population,how='left', left_on='Country Name', right_on='Country Name')

NameError: name 'internet_df' is not defined

In [14]:

world_overview1.head()

NameError: name 'world_overview1' is not defined

In [15]:
#reading in the GDP CSV and filtering 
worldbank_GDP = "GDP.csv"
worldbank_gdp = pd.read_csv(worldbank_GDP)
worldbank_gdp.shape
worldbank_gdp.head()
worldbank_gdp = worldbank_gdp.filter(['Country Name','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'])
worldbank_gdp.head()

,Country Name,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,4.014183,1.972652,4.308370,3.986754,2.925591,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,4.848351,5.142964,6.104241,5.927350,2.745937,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

In [16]:
#final merge 
world_final = pd.merge(world_overview1, worldbank_gdp,how='left', left_on='Country Name', right_on='Country Name')
world_final.head()

NameError: name 'world_overview1' is not defined

In [17]:
#renaming the columns to distinguish the data 
world_final.rename(columns={'2011 [YR2011]': '2011 Internet %','2012 [YR2012]': '2012 Internet %','2013 [YR2013]': '2013 Internet %','2014 [YR2014]': '2014 Internet %','2015 [YR2015]': '2015 Internet %','2016 [YR2016]': '2016 Internet %','2017 [YR2017]': '2017 Internet %','2018 [YR2018]': '2018 Internet %','2019 [YR2019]': '2019 Internet %','2020 [YR2020]': '2020 Internet %','2011_y': '2011 GDP','2012_y': '2012 GDP','2013_y': '2013 GDP','2014_y': '2014 GDP','2015_y': '2015 GDP','2016_y': '2016 GDP','2017_y': '2017 GDP','2018_y': '2018 GDP','2019_y': '2019 GDP','2020_y': '2020 GDP','2011_x': '2011 population','2012_x': '2012 population','2013_x': '2013 population','2014_x': '2014 population','2015_x': '2015 population','2016_x': '2016 population','2017_x': '2017 population','2018_x': '2018 population','2019_x': '2019 population','2020_x': '2020 population'}, inplace=True)

NameError: name 'world_final' is not defined

In [18]:
world_final.head()

NameError: name 'world_final' is not defined

In [19]:
#Exports DataFrame as a csv file
world_final.to_csv('internet.csv', index= False)

NameError: name 'world_final' is not defined

In [20]:
 # Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///../Resources/internet.sqlite")

In [21]:
 # Declare a Base using `automap_base()`
#Base = automap_base()

In [22]:
 # Print all of the classes mapped to the Base
#Base.classes.keys()
 # Assign the dow class to a variable called `Dow`
#internet = Base.classes.internet
# Create a session
#session = Session(engine)

In [23]:
# Import SQL Alchemy
from sqlalchemy import create_engine

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [ ]:
# Create the Garbage class
class Garbage(Base):
    __tablename__ = 'garbage_collection'
    id = Column(Integer, primary_key=True)
    item = Column(String(255))
    weight = Column(Float)
    collector = Column(String(255))